
body{
  background-color:#e7feff;

}
#header{
  position:fixed;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color:#E0EEEE;
  width:100%; 
}

h3{
 font-family: 'Dancing Script';
 font-size:2.5em;
 color:#ab274f;
}
#header-img{ 
  margin-left:500px;
  height:10%;
  width:250px;
  padding-top:0em;

}
#nav-bar{
font-size:1.5em; 
margin-right:0em;

}


a{
  text-decoration:none;
  color:#c30b4e;
  padding:1em;

}

#div-about{
  padding-top:15% 
}

.about-us{
  font-size:2em;
  text-align: justify;
  padding-right:5%;
  padding-left:5%;
  }


.products{
  display: flex;
  justify-content: space-around;
  align-items: center;
}


#Our_Products{
  padding-top:5%
}


.cakes{
  display: flex;
  flex-direction: column;  
  align-items: center; 
  height: 20%;
  width: 20%;
  background:#C6E2FF;
  font-size:1.5em;
  padding:1em;
}


.button{
  background-color:#5F9EA0;
  width:100px;
  height:30px;
  border-radius:5px;
}




#about-wedding{
  float:right;
  font-size:2em;
  width:65% ;
  text-align: justify;
}

#video{
  
  margin-top:2em;
}




#Wedding_Cakes{
  padding-top:5%;
}


h4{
   text-align:center;
   font-size:40px;
   color:#ab274f;
  }


.contact{
  padding-top:30em;
}


.footer{ 
  background-color:#e7feff;
  display:flex;
  justify-content:space-around;
  padding:5em;
  

}


.contact-links{
  background-color:#e7feff;
  border: none;
  color:#2F4F4F;
  text-decoration: none;
  font-size:2em; 
  
}


.Feedback{
  font-size:2em;
  background-color:#CAE1FF;
  color:#2F4F4F;
  padding-top:2em;
}


@media  screen and (max-height: 600px) {
  body {
    background-color: #ace5ee;
  }
}


  @media screen and (max-width: 700px) {
    #header {flex-direction:column;}
  }


   @media screen and (max-width: 700px) {
    .footer {flex-direction:column;}
  }

@media screen and (max-width: 600px) {
 #nav-bar {
    
  font-size:1em;
  }